@charset "utf-8";
/* CSS Document */

/* css reset start */
body {
    background: #ffffff;
    color: #666;
    font: 12px/1.5 "微软雅黑", Arial, Helvetica, sans-serif;
}

body, table, td, div, p {
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}

/* body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
} */

button, input, select, textarea {
    color: #666;
    /* font: 100% Arial, Helvetica, sans-serif; */
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

em {
    font-style: normal;
}

ul, ol {
    list-style: none;
}

fieldset, img {
    border: 0;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

/* css reset end */

/* public css start */
.pwm {
    width: 1190px;
    margin: 0 auto;
}

.floatl {
    float: left;
}

.floatr {
    float: right;
}

/* head css start */
.iheader {
    width: 100%;
    height: 90px;
    z-index: 1;
}

.ifbanner {
    margin-top: 50px;
    background-color: #49cdca;
}

.ifservice {
    background-color: #fafafa;
}

.ifbanner img, .ifservice img {
    display: block;
}

.isgologo {
    position: relative;
    display: block;
    height: 90px;
}

.isgologo a.logo {
    position: absolute;
    top: 30px;
    left: 510px;
}

.isglist li, .isguser li {
    float: left;
    display: inline-block;
    margin-right: 15px;
}

.isglist li.current a {
    display: inline-block;
    border-bottom: 2px solid #fff;
}

.isglist a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.isglist a:hover {
    text-decoration: none;
    border-bottom: 2px solid #fff;
}

.isguser li.regist a, .isguser li.login a {
    color: #333333;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

.isguser li.gcard .gcardlist a, .isguser li.cart .cartnum a {
    color: #333333;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    line-height: 20px;
}

.isguser li.gcard .gcardlist, .isguser li.cart .cartnum {
    padding-bottom: 18px;
}

.isguser li.gcard .icon-card {
    display: inline-block;
    margin-left: 5px;
    width: 21px;
    height: 15px;
    background: url(images/gcard.png) 100% 0 no-repeat;
    vertical-align: middle;
}

.isguser li.cart {
    position: relative;
}

.isguser li.cart .icon-cart {
    display: inline-block;
    margin-left: 5px;
    width: 13px;
    height: 18px;
    background: url(/images/cart.png) 0 0 no-repeat;
    vertical-align: top;
}

.isguser li.gcard.chover .icon-card {
    background-position: 0 0;
}

.isguser li.cart.chover .icon-cart {
    background-position: 100% 0;
}

.isguser li.cart .icon-cartnum {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: -3px;
    right: -10px;
    padding: 0 0 0 4px;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    background: url(images/cartnum.png) 0 0 no-repeat;
    vertical-align: middle;
}

.isguser li.cart .icon-cartnum span.cartnumbg {
    float: left;
    display: inline-block;
    height: 14px;
    padding: 0 4px 0 0;
    background: url(images/cartnum.png) #fff 100% 0 no-repeat;
    vertical-align: middle;
}

.searchbox {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 246px;
    height: 30px;
    border: 1px solid #eaeaea;
    background-color: #fff;
}

.seachtxt, .seachbtn {
    float: left;
    border: 0 none;
    color: #fff;
}

.searchbox .seachtxt {
    width: 200px;
    height: 24px;
    line-height: 24px;
    padding: 3px 5px 3px 10px;
}

.searchbox .seachbtn {
    width: 30px;
    height: 30px;
    border-left: 1px solid #d6d6d6;
    background: url(/images/search01.png) 50% 50% no-repeat;
    cursor: pointer;
}

.colordefult {
    color: #999;
}

.isglist {
    position: absolute;
    left: 76px;
    top: 10px;
}

.isguser {
    position: absolute;
    right: 10px;
    top: 54px;
}

.inav {
}

.inav .pwm {
    position: relative;
    height: 50px;
    border-top: 1px solid #eaeaea;
}

.navbox {
    position: relative;
    height: 50px;
    margin: 0 auto;
}

.navbox .all-cannel {
    display: inline-block;
    margin-left: 152px;
    height: 50px;
}

.navbox .all-cannel li {
    float: left;
    display: inline-block;
    text-align: center;
}

.all-cannel li a.navlink {
    display: inline-block;
    width: 116px;
    height: 50px;
    line-height: 50px;
    color: #373737;
    font-size: 15px;
    font-weight: 700;
}

.all-cannel li a.navlink:hover {
    color: #fff;
    text-decoration: none;
    background-color: #3eb7b4;
}

.all-cannel li.dcurrent a.navlink, .all-cannel li.current a.navlink {
    color: #fff;
    background-color: #3eb7b4;
}

.icategory {
    background-color: #3eb7b4;
    height: 45px;
}

.categorybox {
    display: none;
    background-color: #3eb7b4;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 0;
    width: 1190px; /* margin-left:150px; */
    height: 45px;
}

.all-cannel li .categorybox ul {
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
}

.all-cannel li .categorybox ul li {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.all-cannel li .categorybox ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
    line-height: 42px;
}

.all-cannel li .categorybox ul li a:hover {
    display: block;
    height: 41px;
    line-height: 42px;
    border-bottom: 3px solid #fff;
    background-color: #3eb7b4;
}

.all-cannel li.current .categorybox {
    display: block;
    z-index: 2;
}

.all-cannel li.dcurrent .categorybox {
    display: block;
    z-index: 1;
}

/*.categorybox ul li.current{}
.categorybox ul li.current a{ display:block; height:42px; line-height:42px;  border-bottom:3px solid #fff;  background-color:#3eb7b4;  }*/
/* head css end */

/* footer css start */
/* .ifooter {
    border-top: 1px solid #999999;
} */

.ifooter .serivcelist {
    padding-left: 16px;
	padding-top: 40px;
	text-align: center;
}

.ifooter .serivcelist dl {
    float: left;
    width: 150px;
}

.ifooter .serivcelist dt {
    margin-bottom: 10px;
    font-size: 20px;
    color: #000;
}

.ifooter .serivcelist dt .icon-hot {
    display: inline-block;
    margin-left: 5px;
    width: 23px;
    height: 23px;
    vertical-align: top;
    background: url(../images/hot.jpg) 0 0 no-repeat;
}

.ifooter .serivcelist dd a {
    line-height: 24px;
    font-size: 14px;
    color: #606060;
}

.serivcenumber {
    float: left;
    width: 280px;
    height: 178px;
    background: url(/images/banner004.jpg) 0 0 no-repeat;
}

.ifserivcelink {
    margin: 0px auto 10px;
    font-size: 14px;
    color: #8c8c8c;
    line-height: 22px;
    text-align: center;
}

.ifserivcelink a {
    color: #8c8c8c;
}

.paylogo {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: url(../images/banner005.jpg) 50% 50% no-repeat;
}

/*-- 购物车 开始 -*/
.poplayercart, .poplayergiftcard {
    position: absolute;
    right: -36px;
    top: 36px;
    z-index: 999;
    width: 642px;
    max-height: 480px;
    border: 1px solid #eaeaea;
    background-color: #fff;
}

.cartlist {
    padding: 30px 30px 5px;
    margin-bottom: -1px;
}

.cartlist ul {
    position: relative;
    max-height: 300px;
    overflow: auto;
}

.cartlist li {
    overflow: hidden;
    padding: 5px 10px;
    margin-right: 0;
    border-bottom: 1px solid #ddd;
}

.imgpro, .namepro, .pricenumpro, .delpro {
    float: left;
    display: block;
}

.poplayercart .imgpro {
    width: 72px;
    height: 72px;
    margin-right: 20px;
}

.poplayercart .imgpro img {
    max-width: 72px;
    max-height: 72px;
}

.namepro {
    width: 310px;
    line-height: 18px;
    color: #000;
}

.namepro a {
    line-height: 18px;
    color: #000;
}

.pricenumpro {
    margin-bottom: 5px;
    width: 140px;
    text-align: right;
    font-size: 16px;
    color: #333;
}

.pricenumpro em {
    font-size: 20px;
    color: #ed360e;
}

.delpro {
    margin-top: 10px;
    float: right;
    font-size: 12px;
    color: #329895;
    cursor: pointer;
}

.carttotal {
    text-align: right;
}

.carttotal {
    padding: 20px 18px;
    line-height: 40px;
    background-color: #ebebeb;
}

.poplist {
    font-size: 12px;
    color: #000;
}

.totalnum {
    margin: 0 15px;
    font-size: 20px;
    color: #ed362e;
}

.totalcount {
    margin-right: 15px;
    font-size: 28px;
    color: #ed362e;
}

.poplayerpointer {
    position: absolute;
    top: -14px;
    right: 65px;
    display: block;
    width: 24px;
    height: 14px;
    background: url(images/pointbg.png) 0 0 no-repeat;
}

/* 购物车按钮*/
.totalcartbtn {
    display: inline-block;
    width: 236px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #e84b3d;
}

.totalcartbtn:hover {
    text-decoration: none;
    color: #fff;
}

.poplayergiftcard {
    width: 642px;
    height: 385px;
    right: 66px;
}

.giftcard {
    width: 477px;
    height: 365px;
    padding: 10px 10px 10px 155px;
    background: url(images/giftcardbg.png) #fff 0 0 no-repeat;
}

.buygiftcard {
    display: inline-block;
    margin-left: 10px;
    width: 120px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #e84b3d;
}

.giftcardbuy {
    margin-right: -11px;
    text-align: right;
    height: 54px;
    font-size: 15px;
    line-height: 25px;
    color: #e9483e;
}

.buygiftcard {
    display: inline-block;
    margin-left: 5px;
    width: 120px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #e84b3d;
}

.buygiftcard:hover {
    text-decoration: none;
    color: #fff;
}

.giftcard {
    color: #000;
}

.giftcard h2 {
    display: block;
    margin-bottom: 15px;
    font-size: 24px;
    color: #000;
}

.giftcard .distxt {
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #000;
}

.giftcard .gcname {
    display: inline-block;
    width: 80px;
    text-align: right;
    line-height: 26px;
}

.gc-txt {
    margin-right: 10px;
    margin-left: 5px;
    width: 196px;
    height: 26px;
    border: 1px solid #a6a6a6;
    vertical-align: middle;
    padding-left: 3px;
}

.marginb10 {
    margin-bottom: 10px;
}

.marginb20 {
    margin-bottom: 20px;
}

.marginr10 {
    margin-right: 10px;
}

.marginl10 {
    margin-left: 10px;
}

.marginl20 {
    margin-left: 20px;
}

.giftcardjoin .buygiftcard {
    width: 196px
}

.underline {
    text-decoration: underline;
}

/* public css end */

.z-line35 {
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
    height: 35px;
    border-bottom: solid 3px #eee;
}

.z-line10, .z-line15, .b-line5, .z-line20, .z-line30 {
    overflow: hidden;
    clear: both;
    height: 10px;
}

.b-line5 {
    margin-bottom: 15px;
    height: 5px;
    border-bottom: 1px solid #ddd;
}

.z-line15 {
    height: 15px;
}

.z-line20 {
    height: 20px;
}

.z-line30 {
    height: 30px;
}

/*main body start*/
.layout {
    margin: 0 auto;
    width: 1200px;
}
 .productdetails{
    width: 1200px;
    margin: 0 auto;
    padding-top: 39px;
}
.col-main {
    float: right;
    width: 680px;
    min-height: 1px;
}

.col-warp {
    width: 618px;
    height: 512px;
    max-width: 618px;
}

.col-warp h1 {
    margin: 5px 0;
    line-height: 46px;
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

.col-warp .warppad {
    padding: 0 0 20px 0;
    *height: 307px;
}
/*增加*/
.warppad01{
	padding-bottom:4px;
}
/*增加*/
.col-warp .borderline {
    border-bottom: 1px solid #e6e6e6;
}

.iscoredbtn, .iscobluebtn {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #e93a2e;
}

.iscoredbtn:hover {
    text-decoration: none;
    color: #fff;
}

.iscobluebtn {
    background-color: #3eb7b4;
}

.iscoredbtn input, .iscobluebtn input {
    border: none;
    color: #fff;
    font-family: "微软雅黑";
    background-color: #e84b3d;
}

.iscoredbtn input {
    background-color: #e93a2e;
}
/*改过*/
.addtocart {
    width: 260px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
	float:left;
	display:block;
}
/*改过*/
.addtocart {
    font-size: 19px;
}
/*增加*/
.divide-btn{
	display:block;
	width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
	display: inline-block;
	color: #fff;
	text-align: center;
	background-color: #4ccdc2;
	margin-left:20px;
	float:left;
}
.divide-notice p{
	text-align:left;
}
.triangle{
	position:absolute;
	cursor:pointer;
	left:491px;
}
span.low{
	color:#e63131;
}
.triangle-notice{
	width:230px;
	height:226px;
	border:1px #dddddd solid;
	padding:12px 15px 12px 11px;
	margin-top:8px;
	position:relative;
	display:none;
}
.triangle-notice img{
	position:absolute;
	top:-6px;
	left:5px;
	
}

.triangle-notice ul li{
	font-size:12px;
	color:#000000;
	line-height:24px;
}
/*增加*/
.addtofavourite {
    display: inline-block;
    margin-left: 20px;
    width: 50px;
    height: 43px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.addtofavourite .icon-fav {
    display: inline-block;
    width: 24px;
    height: 23px;
    vertical-align: middle;
    background: url(images/favouritebg.png) -24px 0 no-repeat;
}

.addtofavourite.hasown {
    cursor: default;
}

.addtofavourite.hasown .icon-fav {
    background-position: 0 0;
}

.addtofavourite .favtxt, .addtofavourite.hasown .ownfavtxt {
    display: inline-block;
    width: 40px;
}

.addtofavourite.hasown .favtxt, .addtofavourite .ownfavtxt {
    display: none;
}

.addtofavourite .favtxt {
    color: #333;
}

.ownfavtxt {
    color: #3eb7b4;
}

/* 购买套餐按钮 */
.combinationbtn {
    margin-top: 5px;
    width: 133px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}

.iscoredbtn input {
    font-size: 20px;
    line-height: 50px;
    *line-height: 40px;
    width: 100%;
}

/*产品图片 开始*/

/*photo tour start*/
.photo-tour {
    float: left;
    width: 473px;
    height: 100%;
    border: 1px solid #DDDDDD;
    position: relative;
    /* z-index: 99; */
    margin-bottom: 23px;
}

.photo-explain {
    clear: both;
    padding: 0 25px;
    font-size: 11px;
    color: #666;
}

/*bimg start*/
.bimg {
    position: relative;
    width: 470px;
    height: 470px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2px;
}
.min_box .mouse{
    width:200px;
    height:200px;
    background:#CC0;
    position:absolute;
    left:0;
    top:0;
    opacity:0.3
}
.max_box{
    width: 458px;
    height: 381px;
    float: right;
    overflow: hidden;
    margin-top: -475px;
    margin-right: -462px;
    z-index: 9999999;
}
.bimg-inner {
    display: none;
    overflow: hidden;
    width: 470px;
    height: 470px;
}

.bimg-inner span {
    display: table-cell;
    *display: block;
    overflow: hidden;
    height: 470px;
    width: 470px;
    text-align: center;
    *font-size: 411px;
    *font-family: Arial;
    vertical-align: middle;
}

.bimg-inner span img {
    vertical-align: middle;
}

.bimg-block-mask-warp {
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #999;
    cursor: move;
}

.bimg-block-mask {
    height: 100%;
    background: #fff;
}

.bimg-details {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 470px;
    margin-top: -1px;
    width: 470px;
    height: 470px;
    border: solid 1px #ddd;
    background: #fff url(http://image.dhgate.com/ghs/fob/img/detail/loading.gif) no-repeat 50% 50%;
}

.bimg-details img {
    display: none;
    position: absolute;
}

.bimg-details iframe {
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    width: 350px;
    height: 350px;
    border: 0;
    filter: alpha(opacity="0");
    opacity: 0;
}

.video-mask {
    display: none;
    position: absolute;
    z-index: 10;
    width: 350px;
    height: 350px;
    background: #EBEBEB url(http://image.dhgate.com/ghs/fob/img/detail/video-bg1.png) no-repeat 50%;
    cursor: pointer;
}

.video-player {
    display: none;
    position: absolute;
    z-index: 10;
    width: 350px;
    height: 350px;
}

.discount-less, .discount-more {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0px;
    padding: 5px 25px 0 5px;
    width: 46px;
    height: 71px;
    text-align: center;
    background-image: url(http://image.dhgate.com/ghs/common/img/discount-mark.png) !important;
    background-image: url(http://image.dhgate.com/ghs/common/img/discount-mark6.png);
    background-position: -57px 0;
}

.discount-more {
    background: url(http://image.dhgate.com/ghs/common/img/discount-mark.png) -57px -76px !important;
    background: url(http://image.dhgate.com/ghs/common/img/discount-mark6.png) -57px -76px;
}

.discount-less span, .discount-more span {
    color: #fff;
    font-size: 40px;
    font-family: impact;
}

/*bimg end*/
/*产品图片 开始*/

/* 产品状态icon */

/* 产品状态icon */

/*see-larger-image start*/
.see-larger-image {
    position: absolute;
    left: 20px;
    top: -50px;
    margin: 10px 0;
    width: 26px;
    height: 26px;
    background: url(images/detailbg03.png) 0 0 no-repeat;
}

/*see-larger-image end*/
/*simg list start*/
.simg-warp {
    width: 472px;
    height: 100px;
    overflow: hidden;
    border-top: solid 1px #e6e6e6;
}

.simg-list {
    overflow: hidden;
    margin: 0 auto;
    width: 410px;
    height: 100px;
}


.simg-list ul li {
position: relative;
overflow: hidden;
float: left;
margin: 0px -1px 0 0;
width: 102px;
height: 89px;
cursor: pointer;
padding-top: 11px;
text-align: center;
border-left: solid 1px #e6e6e6;
border-right: solid 1px #e6e6e6;
}

.multimap-img {
    width: 72px;
    height: 72px;
}

.simg-list ul li:hover {
}

.simg-list ul li.current {
}

.simg-list ul li span {
    display: table-cell;
    *display: block;
    overflow: hidden;
    height: 38px;
    width: 38px;
    text-align: center;
    *font-size: 33px;
    *font-family: Arial;
    vertical-align: middle;
    cursor: pointer;
}

.simg-list ul li span img {
    vertical-align: middle;
}

.simg-lg-arrow, .simg-rg-arrow, .simg-lh-arrow, .simg-rh-arrow, .package-name-lh, .package-name-rh {
    position: absolute;
    top: 0;
    width: 30px;
    height: 100px;
    /* border-left: 1px solid #ddd; */
    border-right: 1px solid #ddd;
    background: url(../images/detailbg02.png) 0 0 no-repeat;
}

.simg-lg-arrow-dis, .simg-rg-arrow-dis, .simg-lh-arrow-dis, .simg-rh-arrow-dis, .jcarousel-prev-disabled, .jcarousel-next-disabled {
    position: absolute;
    top: 0;
    width: 30px;
    height: 100px;
      border-left: 1px solid #ddd;
   	/*border-right: 1px solid #ddd; */
    background: url(../images/detailbg02disbale.png) 0 0 no-repeat;
}

.simg-lg-arrow:hover, .simg-rg-arrow:hover, .simg-lh-arrow:hover, .simg-rh-arrow:hover, .package-name-lh:hover, .package-name-rh:hover {
    background-color: #d3f4f3;
    cursor: pointer;
}

.simg-lh-arrow, .simg-rh-arrow {
    margin-top: -1px;
    height: 180px;
}

.simg-lg-arrow, .simg-lg-arrow-dis {
    left: 0;
    background-position: 0px -13px;
}

.simg-rg-arrow, .simg-rg-arrow-dis {
    right: 0;
    background-position: -30px -13px;
}

.simg-lh-arrow, .simg-lh-arrow-dis {
    left: 0;
    background-position: 0 50%;
    height: 180px;
}

.simg-rh-arrow, .simg-rh-arrow-dis {
    height: 180px;
    right: 0;
    background-position: -30px 50%;
}

.package-name-lh, .package-name-lh-dis {
    left: 0;
    background-position: 0 -47px;
    height: 40px;
}

.package-name-rh, .package-name-rh-dis {
    right: 0;
    background-position: -30px -47px;
    height: 40px;
}

/*simg list end*/
/*photo tour end*/

/* Custom Size start */
.custom-size-warp {
    position: relative;
    padding-top: 5px;
}

.custom-size-list {
    overflow: hidden;
    float: left;
    margin-top: -10px;
    max-width: 450px;
}


.custom-size-list li {
    width: 40px;
	height: 40px;
    text-align: center;
    line-height: 4.3;
    margin-right: 3px;
    position: relative;
    float: left;
    padding: 2px 5px;
    color: #000;
    white-space: nowrap;
    border: solid 1px #b3b3b3;
    cursor: pointer;
    margin-top: 3px;
}
.color-select:hover{
	color:#000000;
}
.custom-size-list li:hover,.singleItemSize-n li:hover {
   border: 1px solid #ff0000;
}

.custom-size-list li.selected,.singleItemSize-n li.selected{
    border: 1px solid #ff0000;
}
.singleItemSize-n li.selected span{
    color: #ff0000;
}
.custom-size-warp .modify-options {
    float: left;
    line-height: 20px;
    font-size: 11px;
    white-space: nowrap;
}

.custom-size-info {
    clear: both;
    padding-top: 5px;
    width: 400px;
    font-size: 11px;
}

.custom-size-info span b {
    color: #ff8000;
}

/* Custom Size end */

/* 右侧填充块 */

.without-property {
    margin-top: 20px;
}
.key-info {
    margin-top: 28px;
}
.addtocart-warp {
    margin-top: 36px;
}
.without-property .key-info-lt {
    float: left;
    padding-right: 0;
    width: 45px;
    line-height: 18px;
    font-size: 12px;
    color: #000;
    margin-top: 6px;
}
.singleItemSize-n li{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 3.3;
    margin-right: 3px;
    color: #000;
    white-space: nowrap;
    border: solid 1px #b3b3b3;
    cursor: pointer;
}
.without-property .key-info-ri {
    float: left;
}

/* 商品编号 */
.articlenumber {
    color: #444;
}

.articlesubhead, .articlesubhead2 {
    font-size: 12px;
    color: #e93a2e;
    line-height: 21px;
}

.articlesubhead a, .articlesubhead2 a {
    color: #e93a2e;
}

.articlesubhead2 {
    padding: 20px 50px 0 50px;
    margin-top: 20px;
    clear: both;
}

.articletime {
    color: #000;
}

.warppad .price {
    width: 618px;
    height: 60px;
    background-color: #F5F5F5;
}

.borderline .articleisgoprice {
    line-height: 18px;
    font-size: 24px;
    color: #e93a2e;
    margin-bottom: 16px;
}

.vip {
    line-height: 40px;
    font-size: 15px;
    color: #e93a2e;
    margin-left: 6px;
}
.borderline .articleprice {
    color: #333;
    height: 100%;
    display: block;
}
.articleprice del {
    font-size: 12px;
    margin-left: 11px;
}





#price {
    float: left;
}

/*购买数量*/
.buyquantity {
    border: 1px solid #cccccc;
}

.reduce, .increase {
    float: left;
    display: inline-block;
    width: 24px;
    height: 28px;
    background: url(../images/detailbg01.png) #eeeeee 0 0 no-repeat;
    cursor: pointer;
}

.increase {
    background-position: -24px 0;
}

.pronum {
    float: left;
    display: inline-block;
    width: 36px;
    height: 28px;
}

.pronum input {
    border: none;
    width: 36px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    color: #000;
    
}
.pronum input,.groupMiddle input{
	margin-top: 0;
}

/*评论*/
.reviewbox {
    line-height: 16px;
    font-size: 14px;
    color: #000;
}

.reviewbox .reviewtit {
}

.review-grade {
    margin: 0px 10px 0 10px;
    width: 98px;
    font-size: 0;
    vertical-align: middle;
}

.review-grade, .review-grade span {
    overflow: hidden;
    display: inline-block;
    height: 16px;
    background: url(images/detailbg04.png) 0 0 no-repeat;
}

.review-grade span {
    background-position: 0 -16px;
}

/* 购买优惠套装 开始 */
.packagesbox {
    margin-bottom: 20px;
}

.buypackages {
    margin-bottom: -1px;
    height: 40px;
    border: 1px solid #e1e1e1;
}

.buypackages h3 {
    margin-left: 20px;
    color: #000;
    font-size: 14px;
    line-height: 40px;
}

/*.buypackages .jcarousel-prev-disabled{background: url(/images/detailbg02disbale.png) 0 0 no-repeat;}*/

.tabbtn {
    float: left;
    display: inline-block;
    margin: -1px;
    width: 30px;
    height: 40px;
    border: 1px solid #ddd;
    background: url(images/detailbg02.png) 0 0 no-repeat;
    cursor: pointer;
}

.tabbtn:hover {
    background-color: #d3f4f3;
}

.tabl {
    background-position: 0 -47px;
}

.tabr {
    float: right;;
    background-position: -30px -47px;
}

/* tab start */
.ctab {
    float: left;
    margin: -1px 0;
}

.ctab li {
    float: left;
    display: block;
    margin-left: -1px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e6e6e6;
    color: #000;
    font-size: 14px;
}

.ctab li.current, .ctab li:hover {
    color: #ffffff;
    background-color: #4CCDC2;
    cursor: pointer;
}

.buypackages .ctab {
    margin-left: 31px;
}

/*组合 start*/
.combination {
    overflow: hidden;
    position: relative;
    border: 1px solid #e6e6e6;
}

.combination-list-box {
    position: relative;
    margin-left: -1px;
    margin-right: 195px;
    height: 180px;
    background-color: #fff;
}

.combination-list {
    overflow: hidden;
    margin: 0 32px;
    padding: 10px 0;
    height: 160px;
}

.combination-list li {
    float: left;
    padding-left: 10px;
    width: 229px;
}

.combination-list li .p-img {
    width: 205px;
    height: 120px;
    text-align: center;
}

.combination-list li .p-name {
    width: 210px;
}

.p-name a:hover{
	color:#4ccdc2;
}
.combination-list li s {
    float: right;
    display: inline;
    width: 24px;
    height: 22px;
    margin-top: 50px;
    margin-right: 0px;
    background: url(images/sbg.png) 0 0 no-repeat;
}

.combination-list li.last-item s {
    display: none;
}

.buycombination {
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px 20px;
    width: 154px;
    height: 100px;
}

.buycombination .bc-price, .buycombination .bc-comb, .buycombination .bc-original {
    color: #000;
    line-height: 20px;
}

.buycombination .bc-price span {
    font-size: 20px;
    color: #e93b2e;
}

.buycombination .bc-comb span {
    color: #e93b2e;
}

.buycombination .bc-original span {
    text-decoration: line-through;
    color: #3f3f3f;
}

/*产品详细 start*/
.productdetails {
}

.detailmain {
    float: left;
    width: 900px;
    border: 1px solid #e1e1e1;
}

.detailmain .ctabbox {
    border-bottom: 1px solid #E6E6E6;
}

.detailmain .ctab {
    margin-top: 0;
}

.detailmain .ctab li {
    border-top: 0;
}

.detailmain .ctab li:first-child {
    border-left: 0;
    margin-left: 0;
}
.pro-js:hover{
	color:#ffffff;
}
.pro-pj:hover{
	color:#ffffff;
}
.pro-zx:hover{
	color:#ffffff;
}
.detailbox {
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

.detailrel {
    float: right;
    width: 270px;
}

.detailrelbox {
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}

.detailrel-title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
    color: #000;
    text-align: center;
}

.detailrel-list-box {
    padding-top: 10px;
}

.detailrel-list-box li {
    float: left;
    padding: 10px 10px 10px 16px;
}

.detailrel-list-box .infotxt img {
    width: 72px;
    height: 72px;
}
ul.infotxt {
    margin-top: 14px;
}

.dl-img {
    width: 66px;
    height: 72px;
    display: block;
    float: left;
}
div#con_one_1 {
    margin-left: 44px;
}
.templet_title {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.dl-txt {
    display: block;
    float: left;
    width: 151px;
    margin-left: 8px;
    color: #000;
    line-height: 18px;
}

.dl-ol, .dl-title, .dl-pri {
    display: block;
    font-size: 12px;
    line-height: 24px;
}

.dl-ol {
    color: #e93a2e;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    float: left;
}
.dl-describe {
    float: right;
    margin-top: -18px;
}
.dl-title {
    color: #000;
}

.dl-pri {
    color: red;
}

/*add 2014-06-17*/
.detailbox {
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    padding: 40px 0;
}

.detailbox-hide {
    display: none;
}

.detail-comm {
    padding: 10px 20px;
}

.detail-comm-title h2 {
    font-size: 18px;
    color: #222222;
    font-weight: bold;
}

.detail-comm-title h2 span {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
    padding: 0 0 0 12px;
}

.comm-radio {
    width: 100%;
    height: 20px;
    padding: 20px 0;
}

.comm-radio li {
    width: 20%;
    float: left;
}

.comm-radio li .r {
    float: left;
    margin: 3px 8px 0 0;
}

.comm-radio li .count {
    padding: 0 0 0 6px;
    color: #ff4400;
    font-family: "微软雅黑";
}

.stars {
    width: 100px;
    height: 20px;
    background: url(../images/star.png) repeat-x 0 -20px;
    float: left;
}

.stars-per {
    float: left;
    height: 20px;
    background: url(../images/star.png) repeat-x 0 0;
}

.detail-comm-form h2 {
    height: 55px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    position: relative;
    line-height: 40px;
    border-bottom: 1px #eeeeee solid;
}

.detail-comm-form h2 a {
    width: 120px;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    background: #e93a2e;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    font-size: 14px;
}

.detail-comm-form h2 a:hover {
    background: #c2180c;
}

.detail-comm-list {
    padding-bottom: 40px;
}

.detail-comm-list li {
    border-bottom: 1px #eeeeee solid;
    position: relative;
    padding: 20px 0 20px 160px;
    min-height: 40px;
}

.detail-comm-list li .user-info {
    position: absolute;
    left: 0;
    top: 20px;
    color: #333333;
    line-height: 18px;
}

.detail-comm-list li .user-info .timer {
    color: #999999;
    display: block;
}

.detail-comm-list li .user-say {
    padding: 0 160px 0 60px;
    position: relative;
}

.detail-comm-list li .user-say strong {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: normal;
    color: #999999;
}

.detail-comm-list li .user-say .pingfen {
    width: 136px;
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
}

.detail-comm-list li .user-say .pingfen .fenshu {
    float: right;
    line-height: 20px;
    color: #666666;
}

.detail-comm-list li .user-say .pingfen .content {
    line-height: 18px;
    color: #333333;
}

.detail-comm-form h3 {
    font-size: 18px;
    height: 45px;
    color: #222222;
    font-weight: bold;
}

.detail-comm-textarea-item {
    position: relative;
    padding: 0 0 0 76px;
    min-height: 58px;
}

.detail-comm-textarea-item .title {
    position: absolute;
    left: 0;
    top: 0;
}

.detail-comm-textarea-item .title span.r {
    color: #e93a2e;
}

.detail-comm-textarea-item .form li {
    width: 20%;
    float: left;
}

.detail-comm-textarea-item .form li .r {
    float: left;
    margin: 3px 8px 0 0;
}

.detail-comm-textarea-item .form li .label {
    display: block;
    clear: both;
    text-indent: 26px;
}

.detail-comm-textarea-item .form .textarea {
    width: 512px;
    height: 124px;
    overflow: auto;
    border: 1px #dddddd solid;
    padding: 10px;
}

.detail-comm-textarea-item .form .tips {
    width: 200px;
    height: 114px;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    background: #eef6f6;
    line-height: 18px;
    color: #666666;
}

.detail-comm-textarea-button {
    padding: 20px 0 60px 76px;
}

.detail-comm-textarea-button .submit {
    width: 120px;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    background: #e93a2e;
    text-align: center;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

.detail-comm-textarea-button .submit:hover {
    background: #c2180c;
}

.detail-ask {
    padding: 10px 20px;
}

.detail-ask .ask-title {
    height: 45px;
    border-bottom: 1px #eeeeee solid;
}

.detail-ask .ask-title h2 {
    font-size: 18px;
    color: #222222;
    font-weight: bold;
    float: left;
}

.detail-ask .ask-nav {
    float: right;
    padding: 5px 0 0 0;
}

.detail-ask .ask-nav li {
    float: left;
    padding: 0 0 0 15px;
}

.detail-ask .ask-nav li a {
    color: #3eb7b4;
    font-size: 14px;
}

.detail-ask .ask-login-tips {
    height: 34px;
    width: 100%;
    color: #666666;
    font-size: 14px;
    line-height: 34px;
    padding: 30px 0;
    border-bottom: 1px #eeeeee solid;
}

.detail-ask .ask-login-tips a.login {
    color: #3eb7b4;
    text-decoration: underline;
    font-size: 14px;
}

.detail-ask .ask-login-tips a.ask-button {
    width: 120px;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    background: #e93a2e;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    float: right;
}

.detail-ask .ask-login-tips a.ask-button:hover {
    background: #c2180c;
}

.detail-ask .ask-list li {
    padding: 20px 0;
    border-bottom: 1px #eeeeee solid;
    line-height: 18px;
}

.detail-ask .ask-list li .user-info {
    color: #333333;
    padding: 0 0 10px 0;
}

.detail-ask .ask-list li .user-info .timer {
    color: #999999;
    padding: 0 0 0 12px;
}

.detail-ask .ask-list li .ask {
    color: #333333;
}

.detail-ask .ask-list li .reply {
    color: #e93a2e;
}

.detail-ask .ask-list li .reply .r-timer {
    float: right;
    color: #999999;
}

.detail-ask .ask-form h2 {
    font-size: 18px;
    color: #222222;
    font-weight: bold;
    padding: 20px 0;
}

.detail-ask .ask-form .tips {
    color: #999999;
    padding-bottom: 20px;
    border-bottom: 1px #eeeeee solid;
}

.detail-ask .ask-form-container {
    padding: 10px 0;
}

.detail-ask .ask-form-container .item {
    position: relative;
    padding: 0 0 10px 85px;
    min-height: 34px;
}

.detail-ask .ask-form-container .item .title {
    width: 80px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 34px;
}

.detail-ask .ask-form-container .item .title span.r {
    color: #e93a2e;
}

.detail-ask .ask-form-container .item .radio {
    width: 80px;
    float: left;
    padding: 6px 0 0 20px;
    position: relative;
}

.detail-ask .ask-form-container .item .radio input {
    position: absolute;
    left: 0;
    top: 15px;
    *top:-4px;
}

.detail-ask .ask-form-container .item input.t {
    width: 140px;
    height: 32px;
    border: 1px #dddddd solid;
    padding: 0 5px;
}

.detail-ask .ask-form-container .item .textarea {
    width: 540px;
    height: 60px;
    padding: 10px;
    border: 1px #dddddd solid;
    overflow: hidden;
}

.detail-ask .ask-form-container .item .input-tips {
    color: #999999;
    position: absolute;
    right: 0;
    top: 8px;
}

.detail-ask .ask-form-container .item input.t-s {
    width: 80px;
}

.detail-ask .ask-form-container .item .v-code {
    width: 98px;
    height: 32px;
    display: block;
    border: 1px #dddddd solid;
    overflow: hidden;
    position: absolute;
    left: 186px;
    top: 0;
}

.detail-ask .ask-form-container .item-button {
    padding: 6px 0 60px 85px;
}

.detail-ask .submit {
    margin-left: 132px;
    width: 120px;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    background: #e93a2e;
    text-align: center;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

.detail-ask .ask-form-container .item-button .submit:hover {
    background: #c2180c;
}

.detail-outofsale {
    font-size: 24px;
    padding: 40px 0 0 60px;
}

.detail-outofsale a {
    color: #3eb7b4;
    text-decoration: underline;
    font-size: 14px;
    margin-left: 6px;
}

/*add cart and favorite*/
#product_cart {
    position: absolute;
	width: 334px;
	height: 150px;
	font-size: 12px;
	border: 1px solid #e3e3e3;
	background: #fff;
	color: #575757;
	left: 0px;
	top: -164px;
}

#product_cart h2 {
    font-size: 16px;
	color: #000000;
	width: 225px;
	display: block;
	border-bottom: 1px solid #e3e3e3;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: 49px;
	padding-bottom: 10px;
	text-align: left;
	padding-top: 24px;
}

#product_cart .ok_text {
   background: #FFF;
	padding-left: 49px;
	margin-top: 15px;
	text-align: left;
}
.ok_textStr {
	margin-bottom: 8px;
}
#product_cart .r_botton {
    height: 30px;
	width: 88px;
	background: #e93a2e;
	color: #fff;
	line-height: 22px;
	text-align: center;
	border: none;
}

#product_favorite {
    position: absolute;
    width: 211px;
    margin: 20px auto;
    border: solid 1px #DEDFE0;
    z-index: 99999;
    font-size: 12px;
    overflow: hidden;
    top: -86px;
    right: 4px;
    background: #fff;
}

#product_favorite p {
    height: 28px;
    padding-left: 10px;
    background: #F5F5F5;
}

#product_favorite p span {
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    z-index: 10;
}

#product_favorite p i {
    background: url(images/del_this.jpg) no-repeat;
    width: 16px;
    height: 16px;
    float: right;
    z-index: 999;
    margin-top: 8px;
    margin-right: 10px;
}

#product_favorite h5 {
    font-size: 12px;
    font-weight: normal;
    width: 338px;
    text-align: center;
    height: 16px;
    display: block;
    clear: both;
}

.product_favoriteh3 {
    font-size: 16px;
    font-weight: normal;
    color: #3DB8B5;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 15px;
    width: 165px;
    margin: 0 auto;
}

.product_favoriteh3 i {
    background: url(images/x3.png) no-repeat 0px;
    height: 19px;
    width: 27px;
    margin-right: 10px;
    display: block;
    float: left;
}

.product_favoriteh4 {
    font-size: 16px;
    font-weight: normal;
    color: #E84A3E;
    text-align: center;;
    padding-top: 17px;
    padding-bottom: 15px;
    width: 165px;
    margin: 0 auto;
}

.product_favoriteh4 i {
    background: url(images/x3.png) no-repeat -27px;
    height: 19px;
    width: 27px;
    margin-right: 10px;
    display: block;
    float: left;
}

#product_favorite h3 img {
    padding-right: 5px;
}

#product_favorite h5 {
    display: block;
    float: left;
    font-size: 12px;
    margin-bottom: 7px;
    margin-left: 10px;
    width: 207px
}

#product_favorite h5 a {
    color: #52BCBC;
    margin: 0 3px;
}

#tongzhi1 {
    display: none;
    width: 350px;
    font-size: 12px;
    padding: 3px;
    border: 1px solid #66BFAD;
    background: #fff;
    overflow: hidden;
    color: #575757;
    z-index: 9999999;
    margin-top: -264px;
    margin-left: 5px;
    position: absolute;
}

#tongzhi1 i {
    display: block;
    width: 100%;
    text-align: right;
    height: 14px;
}

.jj_botton {
    width: 88px;
    height: 28px;
    background: #F86B3E;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 16px;
}

#tongzhi1 .email input {
    width: 190px;
    height: 20px;
}

#tongzhi1 .ok_text {
    padding: 20px;
    text-align: center;
}

#tongzhi1 .title {
    line-height: 18px;
    width: 320px;
    border-bottom: 2px solid #727272;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

#tongzhi1 .rule {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #999999;
    line-height: 23px;
}

#tongzhi1 .email {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    color: #999999;
    line-height: 23px;
}

/*分页*/
.paging {
    text-align: center;
    line-height: 31px;
}

.paging .a_visited {
    background: #68B3AC;
    color: #fff;
    border: none;
}

.paging img {
    margin: 0 auto
}

.paging p {
    font-size: 16px;
    color: #9e9e9e;
    padding: 10px 0
}

.paging a {
    border: solid 1px #CCCCCC;
    padding: 2px 7px;
}

.detail-close {
    color: #006AB5;
    font-weight: normal;
    float: right
}

.vipbuy_description {
    font-size: 14px;
    line-height: 29px;
    height: 20px;
    clear: both;
}

.loading_img {
    position: absolute;
    left: 40%;
    top: 10%;
}

#con_one_2 .tab tr td {
    padding: 5px;
}

.tab .ge_td222 {
    width: 18%;
    text-align: left;
    padding: 2px;
    font-weight: bold;
}

/*.photo-tour{ position:relative;}*/
.photo-tour .sale {
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

.photo-tour .sale ul {
    width: 100%
}

.photo-tour .sale li {
    float: left;
    padding: 0 6px;
    line-height: 18px;
    color: #fff;
    font-size: 12px
}

.photo-tour .sale li.red {
    background: #ff3434
}

.photo-tour .sale li.blue {
    background: #1e74f2
}

.photo-tour .sale li.yellow {
    background: #ffb70b
}